[submodule "PcapngFile"]
	path = PcapngFile
	url = https://github.com/philippelatulippe/PcapngFile/
[submodule "AOtomation.Messaging"]
	path = AOtomation.Messaging
	url = https://github.com/SmokeLounge/AOtomation.Messaging.git
[submodule "ZLIB.NET"]
	path = ZLIB.NET
	url = https://github.com/philippelatulippe/ZLIB.NET.git
